.modal-window {
    position: absolute;
    left: 25%;
    top: 10%;
    min-width: 1000px;
    max-height: 800px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgb(72, 112, 157);
    border-radius: 30px;
    padding: 50px;
    &__title {
    }
}

body {
    background-color: rgb(116, 181, 255);
}

.icon-img {
    display: inline;
    fill: #fff;
}

.account {
}
.dropdown {
    position: relative;
    .tool {
        display: block;
        margin: 3px;
    }
    &__img {
        // position: absolute;
        // z-index: 3;
    }
    &__checkbox {
        position: absolute;
        right: 0;
        top: 5px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        opacity: 0;
    }

    &__list {
        display: none;
        li {
            list-style: none;
            opacity: 0;
        }
    }
    &__checkbox:checked ~ &__list {
        display: flex;
        width: 120px;
        height: 30px;
        padding: 15px;
        border: solid 1px #fff;
        border-radius: 15px;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: start;
        position: absolute;
        right: 0px;
        top: 3px;
        animation: account 0.5s linear 0s 1 normal forwards;
        li {
            animation: show 0.5s linear 0.2s 1 normal forwards;
        }
    }
}

@keyframes account {
    from {
        width: 0;
    }
    50% {
        width: 60px;
    }
    to {
        width: 120px;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

.offers {
    &__items {
    }

    &__item {
    }

    &__title {
        color: #fff;
    }
}

.offer {
    margin: 50px auto;
    max-width: inherit;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    &__title {
    }

    &__city {
    }

    &__text {
        margin: 20px auto;
    }

    &__btn {
        margin-right: 20px;
    }
}
.about {
    margin: 200px auto;

    &__content {
        margin-right: 50px;
    }

    &__title {
    }

    &__text {
    }

    &__img {
        img {
            width: 800px;
        }
    }
}

.new-offers {
    margin: 200px auto;

    &__title {
    }

    &__cards {
        .card {
            margin: 50px 20px;
        }
    }
}

.infograph {
    background-color: #fff;
    margin: 200px 0;

    h3 {
        display: block;
        text-align: center;
        margin-bottom: 50px;
    }
    &__content {
        display: flex;
        justify-content: center;
    }
    &__item {
        display: inline-block;
        margin: 0px 100px;
        text-align: center;
        padding-right: -150px;
    }
    .num {
        color: royalblue;
        font-weight: bold;
        font-size: 72px;
        display: block;
    }
    .text {
        font-size: 32px;
    }
}

.news {
    margin: 150px auto;
}

.footer {
    width: 100%;
    height: 70px;
    background-color: rgb(116, 181, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    &__contacts {
        span {
            display: inline-block;
            margin: 20px;
        }
    }
}

.sidebar {
    background-color: #fff;
    width: 20%;
    position: absolute;
    left: 0;
    &__topic {
        padding: 20px;
        border-bottom: rgb(176, 176, 176) solid 2px;
        font-weight: 500;
        a {
            color: grey;
            text-decoration: none;
            display: block;
            width: inherit;
            height: inherit;

        }
        button{
            background: inherit;
            border: none;
            padding: 0;
            color: grey;
            text-decoration: none;
            display: block;
            width: inherit;
            height: inherit;
        }

        &:hover {
            animation: change_color 0.3s linear 0s 1 normal forwards;
            a{
                color: #fff;
            }
        }
    }
}

@keyframes change_color {
    from {
        background-color: #fff;
    }
    to {
        background-color: rgb(176, 176, 176);
       
       
    }
}

main{
    position: relative;
}

.mainscreen{
    position: absolute;
    right: 50px;
    width: 70%;
    .offers {

        &__item {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            margin-top: 0;
        }
    
        &__item-inf {
        }
        &__item-buttons {
        }
    }
    
}
.users {
   
    &__item {
        background-color: #fff;
        padding: 10px;
        border-radius: 20px;
        margin: 0 0 30px 0;
    }
}
.user {
    

    &__name {

    }

    &__func {
    }

    &__role , &__edit, &__delite{
        margin: 0px 5px;
        cursor: pointer;
    }

    &__edit {
      
    }

    &__delite {
     margin-left: 0px;

    }
}


